output
Matrix_class/matOp
Matrix_class/Add_Sub.o
Matrix_class/Determinant.o
Matrix_class/DiagonallyDominant.o
Matrix_class/Gaussian_Elimination.o
Matrix_class/Identity_Symmetric.o
Matrix_class/LU_Decomposition.o
Matrix_class/Transpose.o
Matrix_class/Multiply.o
Matrix_class/Matrix.o
Matrix_class/matop
Matrix_class/main.o
Matrix_class/Gauss_Jacobi_Seidel.o
Matrix_class/Lagranges_Interpolation.o
Matrix_class/ChebyshevPolynomial.o
Matrix_class/Exponential_Power_Fit.o
Matrix_class/Lagranges_Interpolation.o
Sem_3/.ipynb_checkpoints/Newtons_Interpolation-checkpoint.ipynb
Sem_3/.ipynb_checkpoints/Interpolation-checkpoint.ipynb
Sem_3/.ipynb_checkpoints/Numerical_Integration-checkpoint.ipynb
Sem_3/__pycache__/Interpolation.cpython-310.pyc
Sem_3/__pycache__/InterpolationLib.cpython-310.pyc
Sem_3/__pycache__/NumericalIntegration.cpython-310.pyc
Sem_3/.ipynb_checkpoints/InterpolationLib-checkpoint.py
Sem_3/.ipynb_checkpoints/NumericalIntegration-checkpoint.py
Sem_3/.ipynb_checkpoints/Test-checkpoint.ipynb
Sem_3/.ipynb_checkpoints/ODE-checkpoint.ipynb
Sem_3/.ipynb_checkpoints/Eigenvalues-checkpoint.ipynb
Sem_3/.ipynb_checkpoints/Eigenvalue-checkpoint.ipynb
